@import '../../assets/scss/variables';

.frame{
  height: calc(100vh - 55px);
  display: flex;
  

  .forms{

    width: 100%;
    margin: auto 0;

    label{
      color: rgb(247, 249, 249) !important;
      @media (max-width: $xs-max) {
        font-size: 1.2rem;
      }
    }

    h1 {
      color: rgb(247, 249, 249) !important;
      font-family: 'PoppinsBoldItalic';
      text-align: center;
      padding: 2% 0;
      margin: 0;
      font-size: 5rem;
      padding-top: 0;
      
      @media (max-width: $xs-max) {
        font-size: 3rem;
      }
    }

    p.authDirection{
      text-align: center;
      color: rgb(247, 249, 249) !important;
      @media (max-width: $xs-max) {
        font-size: 1.2rem;
      }
    }
  }
}